//@theme "catppuccin-default"
configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "/home/dariobf/.local/share/rofi/themes/rounded-orange-dark.rasi"
